html {
    font-family: Courier New, Courier, monospace;
}

table,
th,
td {
    border: 1px solid black;
    padding: 0px;
}

table {
    margin-top: 1em;
}

.gheith {
    background-color: orange !important;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.highlight {
    background-color: yellow;
}

.collapsible-header {
    padding: 0px;
}

.collapsible {
    margin: 0px;
}

.collapsible-body {
    padding: 0px;
}

p {
    margin: 0px;
}