<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="gheith.css">


</head>

<body>

    <div id="app">

        <div v-if="gheith != null">

            <div>
                <h6>Search for your commit</h6>
                <input v-model="query" type="text" class="browser-default">
            </div>

            <table>
                <th>Submission ID</th>
                <th v-for="test in gheith.testIds">
                    <a v-bind:href="'http://cs.utexas.edu/~gheith/'+url+'/'+test+'.cc'">{{test.substring(0, 2)}}</a>
                </th>
                <tr>
                    <td></td>
                    <td v-for="test in gheith.testIds">
                        <a v-bind:href="'http://cs.utexas.edu/~gheith/'+url+'/'+test+'.ok'">{{test.substring(2, 4)}}</a>
                    </td>
                </tr>
                <tr v-for="sub in submissions" v-show="sub.commitId.match(query) != null || sub.commitId == gheith.myCommitId">
                    <td style="white-space: nowrap;">
                        <ul class="collapsible">
                            <li>
                                <div v-bind:class="{gheith: sub.commitId == gheith.myCommitId, 'collapsible-header': true}" v-html="highlight(sub.commitId, query)">
                                </div>
                                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                            </li>
                        </ul>

                    </td>
                    <td v-for="commit in gheith.testIds " v-bind:class="sub[commit].outcome ? 'green' : 'red' ">
                        <!--{{sub[commit].outcome}}-->
                    </td>
                </tr>


            </table>

        </div>

    </div>




    <script src="https://unpkg.com/vue "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="gheith.js "></script>
</body>

</html>